{% extends 'base.html.twig' %}

{% block title %}IDEAS Page{% endblock %}
{% block body %}

<div class="row">
{% if data %}
       
        {% for idea in data %}
              <div class="col-sm-4">
                
                    <div class="card border-primary mb-4" >
                            <div class="card-header">{{idea.title}}</div>
                            <div class="card-body">
                                <h4 class="card-title">{{idea.content}}</h4>
                                <p class="card-text">{{idea.content}}</p>
                            </div>
                            <div class="card-footer text-muted">
                              <span> ~ 2 days ago  </span>   <span> ~ 12 comment </span>  
                            </div>
                    </div>          
                </div>
        {% endfor %}


    {% else %}
        <p> not articles </p>
    {% endif %}


</div>

<div class="row">
    <div class="col-sm-4">
                
                <div class="card border-primary mb-4" >
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>          
   </div>
    <div class="col-sm-4">
         <div class="card border-primary mb-4" >
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>     
    </div>
    <div class="col-sm-4">
        <div class="card border-primary mb-4" >
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>     
    </div>
  </div>

{% endblock %}

